@font-face {
  src: url("polices/AmericanTypeWriter/AmericanTypewriterRegular.ttf");
  font-family: AmericanTypewriter;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("polices/Roboto_Mono/RobotoMono-Regular.ttf");
  font-family: RobotoMono;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("polices/AppleChanceryRegular/AppleChanceryRegular.ttf");
  font-family: AppleChancery;
  font-style: normal;
  font-weight: normal;
}
html {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  margin-left: 5%;
}
#logo .orinoco {
  font-family: RobotoMono;
  margin-bottom: 0%;
  font-size: 2.3em;
  margin-top: 0%;
}
#logo p {
  margin-top: 0%;
  font-size: 0.4em;
}

#header-nav ul {
  display: flex;
  justify-content: flex-end;
}
#header-nav ul li {
  list-style: none;
  width: 10%;
}
#header-nav ul li #article-number {
  text-decoration: none;
  font-size: 1.3em;
  margin-top: 0.5%;
  font-family: AmericanTypewriter;
  position: absolute;
  top: 4%;
  color: brown;
}

#home {
  width: 50%;
}

#caddy {
  width: 70%;
}

#user {
  width: 50%;
}

@media (max-width: 667px) {
  header {
    width: 100%;
  }
  header #logo {
    margin-left: 7%;
  }
  header #header-nav {
    margin-right: 7%;
  }
  header #header-nav ul li {
    width: 30%;
  }
  header #header-nav ul li #article-number {
    font-size: 1.3em;
  }
}
#baner-txt {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#baner-txt::before {
  content: "";
  background-image: url("../images/textures/Image Texture bois.png");
  background-color: #efd6bc;
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100px;
}
#baner-txt h1 {
  margin: auto;
  font-family: AppleChancery;
  font-size: 1.5em;
  color: #3D3D3D;
}
#baner-img img {
  width: 100%;
  height: 200px;
}

@media (min-width: 200px) and (max-width: 700px) {
  #baner-txt {
    text-align: center;
  }
  #baner-txt h1 {
    font-size: inherit;
    width: 80%;
  }
  #baner-img img {
    height: inherit;
    margin-bottom: 10%;
  }
}
body {
  background-image: url("../images/textures/Image Texture marbre.png");
  background-attachment: fixed;
  margin: auto;
  overflow-x: hidden;
}

main {
  margin-top: 10%;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}
main .camera-link {
  opacity: 0;
  animation: fadein 600ms 200ms forwards;
}
main .camera-link .camera {
  margin-bottom: 10%;
}
main .camera-link .camera .item-link {
  display: flex;
}
main .camera-link .camera .item-link .image {
  margin-right: 3%;
  width: 20%;
  box-shadow: 6px 3px 12px 1px grey;
}
main .camera-link .camera .item-link .camera-name-description {
  margin-left: 10%;
}
main .camera-link .camera .item-link .camera-name-description .description {
  display: flex;
  white-space: initial;
  flex-wrap: wrap;
  font-family: AmericanTypewriter;
  font-size: 1em;
  color: gray;
  margin-left: 0;
  margin-top: 0%;
}
main .camera-link .camera .item-link .camera-name-description a {
  text-decoration: none;
}
main .camera-link .camera .item-link .camera-name-description .name {
  font-family: AmericanTypewriter;
  font-weight: lighter;
  font-size: 1.3em;
  color: black;
  margin-top: 0;
}
main .camera-link .price {
  display: flex;
  flex-direction: column-reverse;
  font-family: AmericanTypewriter;
  font-size: 1.3em;
  color: black;
  position: absolute;
  left: 80%;
}

@media (min-width: 700px) and (max-width: 1000px) {
  main .camera-link .camera .item-link .camera-name-description .description {
    font-size: 0.7em;
  }
}
@media (min-width: 700px) and (max-width: 1200px) {
  main .camera-link .camera .item-link {
    flex-direction: initial;
  }
}
@media (min-width: 200px) and (max-width: 700px) {
  main .camera-link {
    margin-bottom: 20%;
  }
  main .camera-link .camera .item-link {
    flex-direction: initial;
  }
  main .camera-link .camera .item-link .image {
    width: 30%;
  }
  main .camera-link .camera .item-link .camera-name-description .description {
    font-size: 0.5em;
  }
  main .camera-link .camera .item-link .camera-name-description .name {
    font-size: 0.7em;
  }
  main .camera-link .price {
    font-size: 0.8em;
  }
}
footer {
  background-image: url("../images/textures/Image Texture bois.png");
  background-color: #efd6bc;
  position: relative;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .orinoco {
  margin-bottom: 0%;
  font-size: 2.3em;
  margin-top: 0%;
  font-family: RobotoMono;
}
footer p {
  margin-top: 0%;
  font-size: 0.5em;
  font-family: RobotoMono;
}
footer li {
  list-style: none;
  margin-left: 10%;
}
footer #contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding-bottom: 5%;
}
footer p {
  margin-bottom: 0%;
}

#footer-logo {
  position: absolute;
  left: 2%;
  top: 2%;
}
#footer-nav {
  margin-left: 30%;
  margin-right: 25%;
  margin-top: 0%;
}
#footer-ul {
  display: flex;
  padding-left: 0%;
}
#footer-li {
  margin-right: 10%;
}

.footer-icon {
  width: 30%;
}

#footer-icon-fb {
  width: 80%;
}

@media (max-width: 667px) {
  footer #footer-logo .orinoco {
    font-size: 1em;
  }
  footer #contact {
    font-size: 0.5em;
  }
}
main {
  padding-bottom: 30%;
  position: relative;
}
main .item-link {
  display: flex;
  width: 70%;
  text-decoration: none;
  margin: 5%;
}
main .item-link .image {
  position: relative;
  margin-right: 8%;
  width: 10%;
}
main .price-cart-product {
  position: absolute;
  right: 20%;
  font-family: AmericanTypewriter;
  color: black;
}
main .name {
  font-family: AmericanTypewriter;
  color: black;
}
main .description {
  position: absolute;
  margin-left: 26%;
  width: 30%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main .button-delete {
  position: absolute;
  right: 13%;
  width: 5%;
  font-family: AppleChancery;
  font-size: 0.6em;
  margin-top: 1%;
}
main #empty-button {
  margin-left: 80%;
  margin-bottom: 5%;
}
main #form-command {
  width: 15%;
  margin-left: 75%;
}
main #form-command form input {
  width: 96.5%;
  height: 25px;
  margin-bottom: 2%;
}
main #form-command form #commander {
  margin-top: 4%;
  padding: 1%;
  align-items: center;
  width: 102%;
  height: 40px;
}

#total {
  margin-left: 78%;
  font-family: RobotoMono;
  font-size: 1.3em;
}

#total-price-number {
  font-size: 1.3em;
}

@media (min-width: 700px) and (max-width: 1200px) {
  main .item-link {
    flex-direction: initial;
    margin-left: 10%;
  }
  main .name {
    font-size: 0.7em;
  }
  main .button-delete {
    margin-top: 1.5%;
    width: 8%;
  }
  main #total-price-number {
    font-size: 1.2em;
  }
  main .price-cart-product {
    right: 30%;
    margin-right: 10%;
  }
  main #empty-button {
    margin-left: 74%;
  }
  main #form-command {
    width: 25%;
    margin-left: 70%;
  }
}
@media (min-width: 375px) and (max-width: 700px) {
  main .item-link {
    margin-bottom: 10%;
  }
  main .item-link .image {
    width: 20%;
  }
  main .item-link .name {
    left: 35%;
    font-size: 0.5em;
    top: 5%;
  }
  main .item-link .price-cart-product {
    font-size: 0.7em;
    left: 50%;
  }
  main .button-delete {
    width: 15%;
  }
  main #empty-button {
    margin-left: 60%;
    width: 30%;
    font-size: 0.7em;
    margin-bottom: 20%;
  }
  main #total {
    margin-left: 65%;
    font-size: 1em;
  }
  main #form-command {
    width: 40%;
    margin-left: 53%;
  }
  main #form-command form {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  main .price-cart-product {
    left: 70%;
  }
}
main {
  padding-bottom: 15%;
  position: relative;
}
main #item-link {
  text-decoration: none;
  padding-left: 5%;
  display: flex;
}
@keyframes txt-effect {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}
main #item-link .camera-name-description {
  animation: txt-effect 600ms;
}
main #item-link #item-image {
  margin-right: 11%;
  width: 40%;
  height: 300px;
  box-shadow: 6px 3px 12px 1px grey;
  z-index: 1;
  animation: image-effect 600ms;
  transform: scale(1);
  transition-duration: 600ms;
}
main #item-link #item-image:hover {
  transform: scale(1.5);
  transition-duration: 600ms;
}
@keyframes image-effect {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
main #item-link #description {
  display: flex;
  flex-wrap: wrap;
  font-family: RobotoMono;
  font-size: 1.3em;
  width: 80%;
  color: gray;
}
main #item-link #price {
  margin-right: 10%;
  margin-top: 17%;
  display: flex;
  flex-direction: column-reverse;
  font-family: AmericanTypewriter;
  font-size: 1.2em;
  color: black;
}
main #item-link a {
  text-decoration: none;
}
main #item-link #name {
  font-family: AmericanTypewriter;
  font-weight: lighter;
  font-size: 1.3em;
  color: black;
  margin-bottom: 5%;
}
@keyframes form-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main #camera form {
  position: absolute;
  right: 30%;
  top: 5%;
  opacity: 0;
  animation: form-display 600ms 800ms forwards;
}
main #camera #button {
  position: absolute;
  right: 12%;
  bottom: 43%;
  height: 50px;
  font-family: AmericanTypewriter;
  border-radius: 5%;
  border-style: none;
  box-shadow: 2px 2px 7px 1px grey;
  transition-duration: 300ms;
}
main #camera #button:hover {
  box-shadow: 4px 4px 15px 4px grey;
  transition-duration: 300ms;
}

@media (min-width: 700px) and (max-width: 1200px) {
  main #item-link {
    flex-direction: column;
  }
  main #item-link #price {
    margin-top: 10%;
  }
  main #item-link #item-image {
    width: 55%;
    height: 20%;
  }
  main #camera .camera-name-description {
    position: relative;
  }
  main #camera form {
    top: 10%;
    right: 50%;
  }
  main #camera #button {
    bottom: 20%;
  }
}
@media (min-width: 200px) and (max-width: 700px) {
  main #camera .camera-name-description {
    position: relative;
  }
  main #camera form {
    position: absolute;
    top: 8%;
    left: 65%;
  }
  main #camera #description {
    font-size: 1em;
    width: 90%;
  }
  main #camera #button {
    bottom: 15%;
  }
  main #item-link {
    flex-direction: column;
  }
  main #item-link #item-image {
    width: 90%;
    height: 200px;
    margin-bottom: 10%;
  }
}
main #order-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
main #order-message p {
  font-family: AmericanTypewriter;
  font-size: 1.3em;
}
main #order-message #command-order {
  font-family: RobotoMono;
  font-style: italic;
}

@media (min-width: 700px) and (max-width: 1200px) {
  main #order-message {
    margin-bottom: 45%;
  }
}
@media (min-width: 375px) and (max-width: 700px) {
  main #order-message {
    margin-bottom: 45%;
    flex-wrap: wrap;
  }
  main #order-message p {
    font-size: 0.9em;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
