@font-face {
  src: url("polices/AmericanTypeWriter/AmericanTypewriterRegular.ttf");
  font-family: AmericanTypewriter;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("polices/Roboto_Mono/RobotoMono-Regular.ttf");
  font-family: RobotoMono;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("polices/AppleChanceryRegular/AppleChanceryRegular.ttf");
  font-family: AppleChancery;
  font-style: normal;
  font-weight: normal;
}
html {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  margin-left: 5%;
}
#logo h1 {
  font-family: RobotoMono;
  margin-bottom: 0%;
  font-size: 2.3em;
  margin-top: 0%;
}
#logo h2 {
  margin-top: 0%;
  font-size: 0.8em;
}

#header-nav ul {
  display: flex;
  justify-content: flex-end;
}
#header-nav ul li {
  list-style: none;
  width: 10%;
}
#header-nav ul li #article-number {
  text-decoration: none;
  font-size: 1.3em;
  margin-top: 0.5%;
  font-family: AmericanTypewriter;
  position: absolute;
  top: 4%;
  color: brown;
}

#home {
  width: 50%;
}

#caddy {
  width: 70%;
}

#user {
  width: 50%;
}

@media (max-width: 667px) {
  header {
    width: 100%;
  }
  header #logo {
    margin-left: 7%;
  }
  header #header-nav {
    margin-right: 7%;
  }
  header #header-nav ul li {
    width: 20%;
  }
  header #header-nav ul li #article-number {
    font-size: 0.8em;
  }
}
#baner-txt {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#baner-txt::before {
  content: url("../../maquette/Image Texture bois 100.png");
  width: 100%;
  background-color: #efd6bc;
  position: absolute;
  z-index: -1;
  height: 100px;
  overflow-x: hidden;
}
#baner-txt h3 {
  margin: auto;
  font-family: AppleChancery;
  font-size: 1.5em;
  color: #3D3D3D;
}
#baner-img img {
  width: 100%;
  height: 200px;
}

@media (max-width: 667px) {
  #baner-txt {
    text-align: center;
  }
  #baner-txt h3 {
    font-size: inherit;
    width: 80%;
  }
  #baner-img img {
    height: inherit;
    margin-bottom: 20%;
  }
}
body {
  background-image: url("../../maquette/Image Texture marbre.png");
  background-attachment: fixed;
  margin: auto;
  overflow-x: hidden;
}

main {
  margin-top: 10%;
}

.camera {
  margin-bottom: 10%;
}
.camera img {
  margin-right: 3%;
  width: 30%;
  box-shadow: 6px 3px 12px 1px grey;
}
.camera .description {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  font-family: AmericanTypewriter;
  color: gray;
  margin-left: 0;
}
.camera .price {
  margin-right: 10%;
  display: flex;
  flex-direction: column-reverse;
  font-family: AmericanTypewriter;
  color: black;
}
.camera a {
  text-decoration: none;
}
.camera .name {
  font-family: AmericanTypewriter;
  font-weight: lighter;
  font-size: 1.3em;
  color: black;
}

.item-link {
  display: flex;
}

@media (max-width: 375px) {
  main .item-link {
    position: relative;
  }
  main .item-link .name {
    top: -20%;
    left: initial;
  }
}
@media (max-width: 667px) {
  main .item-link {
    flex-direction: column;
    position: relative;
  }
  main .item-link .image {
    width: 70%;
  }
  main .item-link .name {
    position: absolute;
    bottom: 95%;
  }
  main .item-link .price {
    position: absolute;
    left: 95%;
  }
  main .item-link .description {
    width: 100%;
    margin-bottom: 20%;
  }
}
footer {
  background-image: url("../../maquette/Image Texture bois.png");
  background-color: #efd6bc;
  position: relative;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h3 {
  margin-bottom: 0%;
  font-size: 1.7em;
  margin-top: 0%;
}
footer h4 {
  margin-top: 0%;
  font-size: 0.7em;
}
footer li {
  list-style: none;
  margin-left: 10%;
}
footer #contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  padding-bottom: 5%;
}
footer p {
  margin-bottom: 0%;
}

#footer-logo {
  position: absolute;
  left: 2%;
  top: 2%;
}
#footer-nav {
  margin-left: 30%;
  margin-right: 25%;
  margin-top: 0%;
}
#footer-ul {
  display: flex;
  padding-left: 0%;
}
#footer-li {
  margin-right: 10%;
}

.footer-icon {
  width: 30%;
}

#footer-icon-fb {
  width: 80%;
}

main {
  padding-bottom: 15%;
}
main .item-link {
  text-decoration: none;
}
main .item-link img {
  margin-right: 11%;
  width: 20%;
  box-shadow: 6px 3px 12px 1px grey;
}
main .item-link #description {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  font-family: RobotoMono;
  color: gray;
}
main .item-link #price {
  margin-right: 10%;
  margin-top: 10%;
  display: flex;
  flex-direction: column-reverse;
  font-family: AmericanTypewriter;
  color: black;
}
main .item-link a {
  text-decoration: none;
}
main .item-link #name {
  font-family: AmericanTypewriter;
  font-weight: lighter;
  font-size: 1.3em;
  color: black;
  margin-bottom: 5%;
}
main #camera {
  position: relative;
}
main #camera form {
  position: absolute;
  left: 50%;
  top: 11%;
}
main #camera #button {
  position: absolute;
  right: 12%;
  bottom: 5%;
  height: 50px;
  font-family: AmericanTypewriter;
  border-radius: 5%;
  border-style: none;
  box-shadow: 2px 2px 10px 1px grey;
}

@media (max-width: 667px) {
  main #camera form {
    left: -45%;
    top: 37%;
  }
  main #camera .item-link #image {
    width: 80%;
    margin-bottom: 10%;
  }
  main #camera .item-link #description {
    width: 100%;
  }
  main #camera #button {
    top: 108%;
  }
}
@media (min-width: 768px) {
  main #camera form {
    left: 0%;
  }
  main #camera .item-link #image {
    width: 50%;
  }
  main #camera .item-link #description {
    width: 120%;
  }
  main #camera #button {
    top: 115%;
  }
}
main {
  padding-bottom: 30%;
  position: relative;
}
main .item-link {
  display: flex;
  width: 70%;
  text-decoration: none;
  margin: 5%;
}
main .item-link .image {
  margin-right: 8%;
  box-shadow: 6px 3px 12px 1px grey;
}
main .price {
  position: absolute;
  right: 20%;
  font-family: AmericanTypewriter;
  color: black;
}
main .name {
  font-family: AmericanTypewriter;
  color: black;
}
main .description {
  margin-left: 5%;
  width: 50%;
}
main .button-delete {
  position: absolute;
  right: 13%;
  width: 5%;
  font-family: AppleChancery;
  font-size: 0.6em;
  margin-top: 1.5%;
}
main form {
  margin-left: 50%;
}
main form #commander {
  margin-top: 2%;
  padding: 1%;
  align-items: center;
  width: 31%;
}

#total {
  margin-left: 81%;
  font-family: RobotoMono;
  font-size: 1.3em;
}

#total-price-number {
  font-size: 1.3em;
}

@media (max-width: 768px) {
  main .item-link {
    margin-bottom: 10%;
  }
  main .item-link .image {
    width: 30%;
  }
  main .item-link .description {
    width: initial;
  }
  main .item-link .name {
    font-size: 0.7em;
    bottom: 17%;
    left: 34%;
  }
  main .item-link .price {
    left: 70%;
    font-size: 0.8em;
  }
  main .item-link .button-delete {
    width: initial;
    right: 0;
    left: 100%;
    top: 30%;
  }
  main form {
    right: inherit;
    margin-left: 70%;
  }
  main form #commander {
    min-width: 67%;
  }
}
@media (max-width: 375px) {
  main .item-link {
    margin-bottom: 10%;
  }
  main .item-link .image {
    width: 30%;
  }
  main .item-link .name {
    left: 35%;
    font-size: 0.7em;
    top: 5%;
  }
  main .item-link .button-delete {
    width: 20%;
    left: 100%;
    top: 7%;
  }
  main .item-link .price {
    left: 75%;
    top: 5%;
    font-size: 0.7em;
  }
  main #total {
    margin-left: 65%;
  }
  main form {
    margin-left: 50%;
  }
  main form #commander {
    width: 83%;
  }
}
@media (min-width: 1200px) {
  main form {
    margin-left: 80%;
  }
  main form input {
    width: 60%;
    height: 30px;
  }
  main form #commander {
    margin-top: 2%;
    padding: 1%;
    align-items: center;
    width: 63%;
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
