main{
    padding-bottom: 30%;
    position: relative;

    img{
        margin-right: 8%;
        width: 15%;
        box-shadow: 6px 3px 12px 1px grey;
    }

 
    .item-link{
        display: flex;
        width: 70%;
        text-decoration: none;
        margin: 5%;
    }

    .price{
        position: absolute;
        right: 10%;
        font-family: AmericanTypewriter;
        color: black;
    }

    .name{
        font-family: AmericanTypewriter;
        color: black;

    }
    .description{
        margin-left: 5%;
    }
    .button-delete{
        position: absolute;
        right: 3%;
        width: 5%;
        font-family: AppleChancery;
        font-size: 0.6em ;
        margin-top: 1.5%;
    }
    form{
        position: absolute;
        bottom: 10%;
        right: 10%;

            #commander{
                margin-top: 10%;
                padding: 5%;
                align-items: center;
                width: 100%;
            }
    }
    #error-text{
        position: absolute;
        bottom: 5%;
        right: 10%
    }
}
    #total{
        position: absolute;
        right: 10%;
        bottom: 30%;
        font-family: RobotoMono;

    }

    #total-price-number{
        font-size:1.3em
    }


