main{
    margin-top: 10%;
    margin-left: 5%;
}

.camera{
    margin-bottom: 10%;

        img{
            margin-right: 3%;
            width: 20%;
        }

        .description{
            display: flex;
            width: 50%;
            flex-wrap: wrap;
            @include police($police);
            color: gray
        }

        .price{
            margin-right: 10%;
            display: flex;
            flex-direction: column-reverse;
            font-family: AmericanTypewriter;
            color: black;

        }
        
        a{
            text-decoration: none;
        }
        .name{
            font-family: AmericanTypewriter;
            font-weight: lighter;
            font-size: 1.3em;
            color: black

        }
}

.item-link{
    display: flex;
}
