main{
    margin-top: 10%;

    .camera-link{
    
        .camera{
            margin-bottom: 10%;

            .item-link{
                display: flex;
            
                .image{
                    margin-right: 3%;
                    width: 20%;
                    box-shadow: 6px 3px 12px 1px grey;
                }
                
                .camera-name-description{
                    margin-left: 10%;

                    .description{
                        display: flex;
                        white-space: initial;
                        flex-wrap: wrap;
                        font-family: AmericanTypewriter;
                        color: gray;
                        margin-left: 0;
                        margin-top :0% 
                    }
                    
                    a{
                        text-decoration: none;
                    }

                    .name{
                        font-family: AmericanTypewriter;
                        font-weight: lighter;
                        font-size: 1.3em;
                        color: black;
                        margin-top:0
                    }
                }
            }
        }
        .price{
            display: flex;
            flex-direction: column-reverse;
            font-family: AmericanTypewriter;
            font-size: 1.3em;
            color: black;
        }
    }
}

@media (min-width: 700px) and (max-width: 1200px){
    main{
    
        .camera-link{
        
            .camera{
    
                .item-link{
                    flex-direction: initial;
                
                    .camera-name-description{

                        .description{
                            font-size: 0.5em;
                        }
                    }
                }
            }
        }
        
    }
}

@media (min-width: 200px) and (max-width: 700px){
    main{
    
        .camera-link{
            margin-bottom: 20%;

            .camera{
    
                .item-link{
                    flex-direction: initial;

                    .image{
                        width: 30%;
                    }

                    .camera-name-description{

                        .description{
                            font-size: 0.5em;
                        }
                        
                        .name{
                            font-size: 0.7em;
                        }
                    }
                }
            }

            .price{
                left: 80%;
            }
        }
        
    }
}