main{
    padding-bottom: 15%;
    position: relative;

    #item-link{
        text-decoration: none;
        padding-left: 5%;
        display: flex;

        .camera-name-description{
            -webkit-animation: txt-effect 400ms cubic-bezier(.02,.53,.97,1.02);
                    animation: txt-effect 400ms cubic-bezier(.02,.53,.97,1.02);
        }
      
        #item-image{
            margin-right: 11%;
            width: 40%;
            height: 300px;
            box-shadow: 6px 3px 12px 1px grey;
            z-index: 1;
            -webkit-animation: image-translate 700ms cubic-bezier(.19,.81,.96,1.05);
                    animation: image-translate 700ms cubic-bezier(.19,.81,.96,1.05);
            transform: scale(1);
            transition-duration: 1s;
            
            &:hover{
                transform: scale(1.5);
                transition-duration: 600ms;
            }
        }
        
        #description{
            display: flex;
            flex-wrap: wrap;
            font-family: RobotoMono;
            font-size: 1.3em;
            width: 80%;
            color: gray
        }

        #price{
            margin-right: 10%;
            margin-top: 17%;
            display: flex;
            flex-direction: column-reverse;
            font-family: AmericanTypewriter;
            font-size: 1.2em;
            color: black;
        }
        
        a{
            text-decoration: none;
        }

        #name{
            font-family: AmericanTypewriter;
            font-weight: lighter;
            font-size: 1.3em;
            color: black;
            margin-bottom: 5%;
        }
    }
  
    #camera{

        form{ 
            position: absolute;
            right: 30%;
            top: 5%;
            opacity: 0;
            -webkit-animation: form-display 400ms 600ms forwards;
                    animation: form-display 400ms 600ms forwards;
        }

        #button{
            position: absolute;
            right: 12%;
            bottom: 43%;
            height: 50px;
            font-family: AmericanTypewriter;
            border-radius: 5%;
            border-style: none;
            box-shadow: 2px 2px 7px 1px grey;
            transition-duration: 300ms;
            -webkit-animation: button-display 1s;
                    animation: button-display 1s;

            &:hover{
                box-shadow: 4px 4px 15px 4px grey;
                transition-duration: 300ms;
            }
        }
    }
}

@media (min-width: 700px) and (max-width: 1200px){
    main{
        #item-link{
            flex-direction: column;

            #price{
                margin-top: 10%;
            }

            #item-image{
                width: 55%;
                height: 20%;
            }
        }

        #camera{

            .camera-name-description{
                position: relative;
            }

            form{
                top: 10%;
                right: 50%;
            }

            #button{
                bottom: 20%;
            }
        }
    }
}

@media (min-width: 200px) and (max-width: 700px){
    main{
        #camera{
            
            .camera-name-description{
                position: relative;
            }
            form{
                position: absolute;
                top: 8%;
                left: 65%
            }

            #description{
                font-size: 1em;
                width: 90%;
            }

            #button{
                bottom: 15%;
            }
        }
        #item-link{
            flex-direction: column;

            #item-image{
                width: 90%;
                height: 200px;
                margin-bottom: 10%;
            }
        }
    }
}