
main{
    padding-bottom: 30%;
    position: relative;

    .item-link{
        display: flex;
        width: 70%;
        text-decoration: none;
        margin: 5%;

        .image{
            position: relative;
            margin-right: 8%;
            width: 10%;
        }
    }
    
    .price{
        position: absolute;
        right: 20%;
        font-family: AmericanTypewriter;
        color: black;
    }

    .name{
        font-family: AmericanTypewriter;
        color: black;

    }
    .description{
        position: absolute;
        margin-left: 26%;
        width: 30%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;


        
    }
    .button-delete{
        position: absolute;
        right: 13%;
        width: 5%;
        font-family: AppleChancery;
        font-size: 0.6em ;
        margin-top: 1.5%;
    }
    form{
        margin-left: 50%;

        #commander{
                margin-top: 2%;
                padding: 1%;
                align-items: center;
                width: 31%;
            }
    }
}
    #total{
        margin-left: 81%;
        font-family: RobotoMono;
        font-size: 1.3em;
    }

    #total-price-number{
        font-size:1.3em
    }

@media (min-width: 700px) and (max-width: 1200px){
    main{
    
        .item-link{
            flex-direction: initial;
            margin-left: 10%;
        }
    }
}
    
@media (min-width: 375px) and (max-width: 700px){
    main{

        .item-link{
            margin-bottom: 10%;

                .image{
                    width: 30%;
                }
                .name{
                    left: 35%;
                    font-size: 0.7em;
                    top: 5%;
                }
                .button-delete{
                    width: 20%;
                    left: 100%;
                    top: 7%;
                    
                }
                .price{
                    
                    font-size: 0.7em;
                }
        }

        #total{
            margin-left:65%;
            font-size: 0.8em;
        }
        form{
            
            margin-left: 50%;
            width: 30%;

            #commander{
                width: 130%;
            }
        }
    }
}



