header{

    #cart{
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 30%;
        width: 30%;
    }

    #logo{
        margin-right: 30%;
    }
    #baner{

        img{
            margin-top: 5%;
        }
    }
}