@keyframes form-display {
  from { opacity: 0};
  to {opacity: 1}
}

@keyframes image-translate {
  from {transform: translateX(-400px)}
  to {transform: translateX(0)}
}


@keyframes txt-effect {
  from {transform: translateY(-300px); z-index: -1;}
  to {transform: translateY(0); z-index: 1;}
  
}

@keyframes button-display{
  from {transform: scale(0)}
  to {transform: scale(1);}
}

@keyframes baner-img {
  from {transform: scaleX(1); transform-origin: left;}
  to {transform: scaleX(0); transform-origin: left;}
}