@mixin wood-background {
    background-image: url("../images/textures/Image Texture bois.png");
    background-color: #efd6bc;
}

@mixin marbre-background{
    background-image: url("../images/textures/Image Texture marbre.png");
    background-attachment: fixed;
} 

$police-bold: #3D3D3D;