@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin  flex-columm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
@mixin flex-right {
    display: flex;
    justify-content: flex-end;
}
